### 数据库（Database）

#### 什么是数据库

数据库是由许多相关数据构成的集合。

当用户或者应用需要访问和使用这些数据库中的数据时，需要借助专门的管理软件系统，也就是数据库管理系统（DBMS Database Management System）。按照数据的组织和管理模式，主要的 DBMS 可以分为关系数据库管理系统和非关系数据库管理系统。


- 关系数据库管理系统（RDBMS Relational DBMS）主要使用二维表（Table）来存储数据，类似于 Excel 中的电子表格。表中的行对应一个实体或对象，列对应实体的属性。关系数据库使用标准的结构化查询语句（SQL）执行各种数据的增删改查以及数据库的管理操作。主流的关系数据库包括 Oracle、MySQL、SQL Server 以及 PostgreSQL 等。

- 非关系数据管理系统（NoSQL）通常不支持关系模型，也不提供 SQL 接口。它们通常是为了解决关系数据库在某些场景下的局限性，例如大数据、横向可扩展性等。其中，NoSQL 代表 Not Only SQL。常见的 NoSQL 数据库包括文档数据库（MongoDB 等）、键值存储（Redis 等）、以及图数据库（Neo4j 等）。


MySQL 是最流行的开源关系数据库管理系统，由 Oracle 公司进行开发并提供支持，提供了原生的文档数据库（JSON）支持。官网地址： https://www.mysql.com/

MySQL 支持各种平台，包括 Windows、Linux 以及 macOS。相对于其他大型的数据库系统（Oracle、SQL Server 等）而言，MySQL 更加容易管理和使用，同时又具有非常好的性能、可靠性和扩展性。


SQL 代表结构化查询语言（Structured Query Language），它是管理和访问关系数据库的标准语言。通过 SQL 可以执行数据的增加（Create）、删除（Delete）、修改（Update）以及查询（Retrieve），同时还可以执行许多数据库的管理操作。

>A SQL query is a question you ask the database. If any of the data in the database satisfies the conditions of your query, SQL retrieves that data.

`SELECT * FROM EMPLOYEE WHERE Age > 40 OR Salary > 100000`

If in case MySQL is not available, you might use MariaDB instead.

#### 学习 MYSQL 数据库，建议方法：

1. 找几本权威的数据库图书系统地学习一下，当然可以选择你感兴趣的部分，常用的数据库知识并不多；
2. 自己安装一个数据库进行操作、实践。


建议你可以在阿里云上尝试注册并且使用MySQL
https://www.aliyun.com/product/rds/mysql

网上资料

MySQL指南
1. 菜鸟教程 https://www.runoob.com/mysql/mysql-tutorial.html
2. 知乎 https://www.zhihu.com/column/mysql-tutorial
3. MySQL数据库学习宝典 http://c.biancheng.net/mysql/

#### Download

MySQL  USTC 中科大的镜像 [点击前往](http://mirrors.ustc.edu.cn/mysql-ftp/Downloads/)

注意根据你的操作系统选择合适的镜像文件 ！

MariaDB 开源软件 可以到其官网下载 

https://downloads.mariadb.org/

### 安装MariaDB/MySQL


Windows10系统下安装MariaDB 的教程图解 [Click](https://pcedu.pconline.com.cn/1367/13676123.html)

Windows10 MYSQL Installer 安装 [Click](https://www.runoob.com/w3cnote/windows10-mysql-installer.html)

注意：在安装过程中要设置root用户的密码，请记住并且妥善保管这个密码，在后续查看及调用数据库的时候都需要使用这个重要的密码。而且root用户是具有最高权限的，不能泄露该密码。

#### 如果需要修改密码，可以根据以下的方法

Enter password：***  

mysql>use mysql;   

Database changed   

mysql> update user set password=password("newPassword") where user='root';  将root用户的密码修改为新的密码

mysql> flush privileges; 刷新权限  

mysql> quit;

In [7]:
from sqlalchemy import create_engine
# pip install sqlalchemy

pw = input('Please provide the password:')
db = input('Please input the name of the database which you would like to access:')
engine = create_engine('mysql+pymysql://root:{}@127.0.0.1:3306/{}?charset=utf8'.format(pw,db))
# 127.0.0.1 代表本机，是特指本机的IP地址，3306是数据库使用的端口号，utf8是编码，一般有中文就应该使用utf8.

Please provide the password: 123456
Please input the name of the database which you would like to access: test

In [8]:
import pandas as pd
# Write to database
dat = pd.read_csv('stockdata.csv')


dat.to_sql(name='my_table3', con=engine, if_exists='append', index=False)

In [13]:
sql_cmd = "select vol, low from my_table where vol > 100000 and close > 16"

# Read from Database
df = pd.read_sql(sql=sql_cmd, con=engine)
df

         vol    low
0  285487.23  15.56
1  332693.07  16.24
2  184201.74  16.90
3  226621.76  16.77
4  320102.62  15.50
5  189263.20  15.18

#### Navicat

Powerful database management & design GUI 

是一套多连接数据库开发工具，让你在单一应用程序中同时连接多达七种数据库：MySQL、MariaDB、MongoDB、SQL Server、SQLite、Oracle 和 PostgreSQL，可一次快速方便地访问所有数据库。

In [3]:
engine = create_engine('mysql+pymysql://root:123456@127.0.0.1:3306/stock_data?charset=utf8')
sql_cmd = "select * from 2018to where code like '%%600000' and close > 13"

df = pd.read_sql(sql=sql_cmd, con=engine)
df.head()

,DATE,Open,High,Low,Close,ChgAmount,ChgRate,Volume,VolTrans,Swing,Turnover,CODE
0,2018-01-10,12.70,13.09,12.68,13.02,0.32,2.52,906800,117420,3.23,0.32,stock_600000
1,2018-01-15,12.88,13.08,12.85,13.02,0.11,0.85,613207,79686,1.78,0.22,stock_600000
2,2018-01-17,12.91,13.42,12.89,13.10,0.20,1.55,1271328,167524,4.11,0.45,stock_600000
3,2018-01-18,13.14,13.25,13.05,13.24,0.14,1.07,1116081,146516,1.53,0.40,stock_600000
4,2018-01-19,13.33,13.61,13.18,13.24,0.00,0.00,1716489,230022,3.25,0.61,stock_600000

In [14]:
import mysql.connector
# pip install mysql-connector


conn = mysql.connector.connect(host= '127.0.0.1',port=3306,user="root",\
                               password = '123456' ,database = 'news' ,charset="utf8")
cur = conn.cursor()
sql = "select * from sina_fin_news where rich_text like '%%浦发银行%%'"
cur.execute(sql)

result = cur.fetchall()
result[0]

(30,
 56057,
 'live:finance-152-3722506042873425:0',
 'yujie7@staff.sina.com.cn',
 '标普将浦发银行的评级展望由稳定降至负面。',
 '2014-06-17 17:41:04',
 152,
 '其他')

In [15]:
res = [i[4] for i in result]
res[0:10]

['标普将浦发银行的评级展望由稳定降至负面。',
 '一财网援引上海悦合置业未具名代表的话报道称，因为资金链断裂，该公司的上海嘉定悦合国际广场项目已于6月1日停工。总建筑面积达22万平方米的项目已被当地法院查封。浦发银行通过电子银行回答彭博称，向悦合置业提供了超过2亿元贷款，已采取措施保全资产。 ',
 '浦发银行上半年净利润为227亿元人民币，同比增长16.9%，每股收益1.215元。',
 '浦发银行在上交所发布公告称，已获得银监会批准进行非公开发行优先股。',
 '上海黄金交易所国际板8家结算银行名单确定，分别是工商银行、农业银行、中国银行、建设银行、交通银行、浦发银行、兴业银行和民生银行。',
 '据新浪乐居，兴业银行、浦发银行已率先放开，执行认房不认贷，以家庭为单位，如果之前买过房但是贷款已还清，现在买房算首套房。兴业首套房贷利率最低9.5折。',
 '兴业银行向新浪财经否认将放松首套房认定标准，完全是失实报道；而平安银行和招商银行也表示未接到任何关于首套贷认定标准的通知。接近四大行人士向新浪财经透露称，银行无权出台认房不认贷认定标准。今日早些时候有报道称，兴业、浦发银行已率先放开，执行认房不认贷。',
 '9月23日，针对“兴业银行、浦发银行已率先放开，执行认房不认贷”的报道，兴业银行否认将放松首套房认定标准，称完全是失实报道；而平安银行和招商银行也表示未接到任何关于首套贷认定标准的通知。',
 '浦发银行：尽管央行和银监会鼓励银行业金融机构发行住房抵押贷款支持证券（MBS），但存量房贷证券化不会在近期大规模推出。不过，未来MBS或成为中国央行定向刺激的渠道。',
 '浦发银行称独立董事周勤业辞任。']

In [16]:
### 创建表格

conn = mysql.connector.connect(host= '127.0.0.1',port=3306,user="root",\
                               password = '123456' ,database = 'test' ,charset="utf8")
cur = conn.cursor()
sql = "create table if not exists stock_abc (id int not null, date varchar(20), open varchar(100))"
cur.execute(sql)

In [17]:
### 删除表格

sql = "drop table stock_abc"
cur.execute(sql)

In [18]:
### 写入表格
conn = mysql.connector.connect(host= '127.0.0.1',port=3306,user="root",\
                               password = '123456' ,database = 'test' ,charset="utf8")
cur = conn.cursor()
sql = "create table if not exists stock_abcd (id int not null unique auto_increment, date varchar(20), prices varchar(100), primary key(id))"
cur.execute(sql)
sql ="""insert into stock_abcd (date, prices) values ('20200102', '12.3')"""
try:
    cur.execute(sql)
    conn.commit()
    
except:
    conn.rollback()
conn.close()

### MongoDB

`pip install pymongo`
 
或者下载相应的wheel文件，tar.gz文件进行安装 

- 安装wheel 先下载文件***.whl， 然后切换到该whl文件的目录。运行 pip install filename.whl 
- 安装tar.gz 先下载文件***.tar.gz, 然后将该文件解压到相应目录。运行 pip install 解压目录  注意该目录中应该有setup.py文件

In [9]:
import pymongo
 
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["interlock"]

mydb

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'interlock')